.order {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}
.orderIngredients {
    list-style: none;
    padding: 0;
    margin: 0;
}
.orderIngredientItem {
    gap: 16px;
}
.orderIngredientImage {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}
.orderIngredientTitle {
    flex-grow: 1;
}
.orderIngredientTotal {
    flex-shrink: 0;
    white-space: nowrap;
}