.header {
    background-color: #1C1C21;
}
.wrapperHeader {
    grid-template-columns: 1fr auto 1fr;
    display: grid;
    align-items: center;
}
.logo {
    display: inline-block;
}
.navLeft,
.navRight {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 16px 0;
}
.navRight {
    justify-content: end;

}
.headerLink {
    color: #8585AD;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 20px;
}
.headerLink:hover {
    color: #F2F2F3;
}