a {
    color: #4C4CFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.containerColumn {
    width: 600px;
}
.display-flex {
    display: flex;
}
.display-grid {
    display: grid;
}
.justify_content-center {
    justify-content: center;
}
.justify_content-end {
    justify-content: end;
}
.justify_content-space-between {
    justify-content: space-between;
}
.align_items-center {
    align-items: center;
}
.align_items-start {
    align-items: start;
}
.flex_wrap-wrap {
    flex-wrap: wrap;
}
.flex_direction-column {
    flex-direction: column;
}
.text_align-center {
    text-align: center;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-grab {
    cursor: grab;
}
.font_size-24 {
    font-size: 24px;
}
.constructor-element {
    border: 1px solid transparent;
}
.price-icon-align {
    vertical-align: top;
}
.text_color_turquoise {
    color: #00CCCC;
}
.text_shadow-number {
    text-shadow:
            0 0 4px #000,
            0 0 12px #4b4bff;
}